
<div class="dishcard">
    <img src="Images\sample.jpg" alt="Sample dish" style="width:100%">
    <h3>@Title</h3>
    <p>@PreparationTime minut</p>
</div>

<div class="dishcard">
    <img src="Images\sample.jpg" alt="Sample dish" style="width:100%">
    <h3>@Title</h3>
    <p>@PreparationTime minut</p>
</div>

<div class="dishcard">
    <img src="Images\sample.jpg" alt="Sample dish" style="width:100%">
    <h3>@Title</h3>
    <p>@PreparationTime minut</p>
</div>

<div class="dishcard">
    <img src="Images\sample.jpg" alt="Sample dish" style="width:100%">
    <h3>@Title</h3>
    <p>@PreparationTime minut</p>
</div>

<div class="dishcard">
    <img src="Images\sample.jpg" alt="Sample dish" style="width:100%">
    <h3>@Title</h3>
    <p>@PreparationTime minut</p>
</div>

<div class="dishcard">
    <img src="Images\sample.jpg" alt="Sample dish" style="width:100%">
    <h3>@Title</h3>
    <p>@PreparationTime minut</p>
</div>

<div class="dishcard">
    <img src="Images\sample.jpg" alt="Sample dish" style="width:100%">
    <h3>@Title</h3>
    <p>@PreparationTime minut</p>
</div>

<div class="dishcard">
    <img src="Images\sample.jpg" alt="Sample dish" style="width:100%">
    <h3>@Title</h3>
    <p>@PreparationTime minut</p>
</div>

